* {
    padding: 0;
    margin: 0;
}

.section{
    margin:0 auto;
    max-width: 1200px;
    overflow: hidden;
}

.box {
    display: inline-block;
    //background: #DBDBDB;
}
.left {
    width: 45%;
    float: left;
}

.right {
    float: right;
    width: 54%;
}

img {
    width: 210px;
    display: block;
    margin:auto;
}

.text-insite{
    margin-left: 40px;
    margin-right: 70px;
}
.name {
    color: #000;
    font-family: "MyriadPro-Regular", sans-serif;
    text-align: center;
    font-weight:700;
    margin-bottom: 70px;
}
.name1{
    font-size: 70px;
    font-weight: 300;
}
.name2{
    font-size: 80px;
    font-weight: 700;
}
.name3{
    font-size: 35px;
    font-weight: 700;
}

/*===zagolovok begin===*/
.box-h1{
    position: relative;
    background-color: #fff;
    width: 200px;
}
.box-h1:after {
     content: '';
     width: 100%;
     height: 4px;
     background-color: #3D6CB0;
     position: absolute;
     top: 11px;
     left: 250px;
 }

.zagolovok {
    width: 100%;
    height: 30px;
    line-height: 30px;
    margin-bottom: 20px;
}

.img-oll{
    background: url("../images/PROFILE-ICON.png"), no-repeat;
    background-size: 100%;
    width: 40px;
    height: 39px;
    display: block;
    position: absolute;
    top: -8px;
    left: 0;
}
.img-item1{
    background: url("../images/PROFILE-ICON.png"), no-repeat;
    background-size: 100%;
}
.img-item2{
    background: url("../images/Phone-Icon.png"), no-repeat;
    background-size: 100%;
}
.img-item3{
    background: url("../images/SKILLS-ICON.png"), no-repeat;
    background-size: 100%;
}

.zagolovok p {
    color: #3D6CB0;
    font-family: "Myriad Pro",sans-serif;
    font-size: 30px;
    font-weight: 700;
    display: block;
    margin-left: 50px;
    z-index: 111;
    width: 46%;
}

.konteiner {
    margin-top: 20px;
    margin-bottom: 35px;
}
/*===zagolovok end===*/

.contact {
    text-decoration: none;

    li {



    }
    span {
            color: #3D6CB0;
            font-weight: 700;
            font-family: "Myriad Pro", sans-serif;
            font-size: 41px;
        }


}

.li-insade{
    p {
        font-weight: 400;
        font-family: "Myriad Pro", sans-serif;
        font-size: 41px;
    }
}